:root {
  --primary-color: #3932af;
  --text-color1: #222222;
  --text-color2: #555555;
}

/* ? content */
/* ? section-1.content */
#section-1.content {
  width: 1100px;
  padding-top: 20px;
  margin: 0 auto;
}

#section-1.content .title h2 {
  font-size: 38px;
  font-weight: 700;
  color: var(--text-color1);
}

/** tab */
#section-1.content .tab {
  height: 60px;
  margin-top: 50px;
  background-color: #f8fafb;
  border-radius: 30px 10px;
}

#section-1.content .tab ul {
  display: flex;
}

#section-1.content .tab ul li {
  width: 12.5%;
}

#section-1.content .tab ul li a {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 60px;
  text-align: center;
  color: var(--text-color1);
}

#section-1.content .tab ul li a.active {
  color: #fff;
  background-color: var(--primary-color);
  border-radius: 30px 10px;
  box-shadow: 0 10px 30px 0 rgba(57, 60, 175, 0.3);
}

/** panel common */
#section-1.content .panel {
  display: none;
}

#section-1.content .panel.on {
  display: block;
}

/** panel1 */
/** search-box */
#section-1.content .panel .search-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 42px;
  margin: 50px 0 15px;
}

#section-1.content .panel .search-box .total {
  display: flex;
  align-items: baseline;
  color: var(--text-color2);
}

#section-1.content .panel .search-box .total .t-num {
  font-weight: 700;
  color: var(--primary-color);
}

#section-1.content .panel .search-box .total .page-now {
  font-size: 14px;
  padding-left: 5px;
}

#section-1.content .panel .search-box .search {
  display: flex;
}

#section-1.content .panel .search-box .search select {
  display: inline-block;
  appearance: none;
  width: 120px;
  height: 42px;
  padding: 0 35px 0 15px;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
  background: url(../img/ico_sel_arrow.png) no-repeat 100% 50%;
}

#section-1.content .panel .search-box .search .input-search {
  width: 260px;
  height: 42px;
  padding: 0 15px;
  margin-left: 4px;
  border: 1px solid #e6e6e6;
  border-radius: 6px;
}

#section-1.content .panel .search-box .search button {
  display: block;
  width: 42px;
  height: 42px;
  margin-left: -6px;
  background: url(../img/btn_search.gif) no-repeat;
}

/** table */
#section-1.content .panel table {
  width: 100%;
  border-top: 2px solid #222222;
  border-collapse: collapse;
}

#section-1.content .panel table tr th {
  line-height: 24px;
  font-weight: 400;
  padding: 18px 10px;
  border-bottom: 1px solid #d2d2d2;
}

#section-1.content .panel table tr td {
  line-height: 24px;
  color: var(--text-color2);
  padding: 18px 10px;
  border-bottom: 1px solid #d2d2d2;
}

#section-1.content .panel table tr td:nth-child(1) {
  text-align: center;
}

#section-1.content .panel table tr td a {
  color: #535353;
}

/** pagination */
#section-1.content .panel .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 40px;
}

#section-1.content .panel .pagination .page-num > a {
  display: inline-block;
  height: 38px;
  line-height: 40px;
  padding: 0 10px;
  color: #777777;
}

#section-1.content .panel .pagination .page-num > a.active {
  font-weight: 700;
  text-decoration: underline;
  color: var(--primary-color);
}

#section-1.content .panel .pagination > a {
  display: inline-block;
  width: 38px;
  height: 38px;
  background: url(../img/spr_ico_page.gif) no-repeat;
}

#section-1.content .panel .pagination .next-pagination {
  margin-left: 16px;
  background-position: 0 -80px;
}

#section-1.content .panel .pagination .last-pagination {
  margin-left: 10px;
  background-position: 0 -120px;
}
